### Exploratory Data Analysis
In statistics, exploratory data analysis is an approach of analyzing data sets to summarize their main characteristics, often using statistical graphics and other data visualization methods. 

A statistical model can be used or not, but primarily EDA is for seeing what the data can tell us beyond the formal modeling and thereby contrasts traditional hypothesis testing.

In other words, 

Exploratory Data Analysis refers to the critical process of performing initial investigations on data so as to discover patterns,to spot anomalies,to test hypothesis and to check assumptions with the help of summary statistics and graphical representations.

### The objectives of EDA are to:

1. Enable unexpected discoveries in the data
2. Suggest hypothesis about the causes of observed process
3. Assess assumptions on which statistical inference will be based
4. Support the selection of appropriate statistical tools and techniques
5. Provide a basis for further data collection through surveys or experiments

### Techniques and tools

There are a number of tools that are useful for EDA, but EDA is characterized more by the attitude taken than by particular techniques

Typical graphical techniques used in EDA are:

1. Box plot
2. Histogram
3. Scatter plot
4. Stem-and-leaf plot
5. Heat map
6. Bar chart

Advanced techniques can be applied to all these above mentioned graphs such as :
1. making them dynamic
2. applying filters on them etc

In [ ]:
# # necessary imports 
# import findspark
# import pyspark
# from pyspark.sql import SparkSession # to create dataframe in pyspark

# findspark.init()

In [1]:
import os
import sys

In [2]:
# pip install findspark
import findspark
import pyspark

# imports necessary modules
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [3]:
findspark.init()
findspark.find()

'C:\\Users\\admin\\Big data\\Spark\\spark-3.1.3-bin-hadoop3.2'

In [4]:
# let us initialise the spark session
spark = SparkSession.builder.appName("pyspark eda examples").config("spark.some.config.option","value").getOrCreate()

### Index
1. Reading csv files
2. Checking few features of the data
3. EDA process and techniques
4. Visualization

In [5]:
# reading csv files
df= spark.read.csv("Airquality.csv")

In [7]:
# let us have a look at top 5 records / rows
df.show(5) 
# we can see that column names are not proper, will be making them proper in coming cells

+-----+-------+----+----+
|  _c0|    _c1| _c2| _c3|
+-----+-------+----+----+
|Ozone|Solar.R|Wind|Temp|
|   41|    190| 7.4|  67|
|   36|    118|   8|  72|
|   12|    149|12.6|  74|
|   18|    313|11.5|  62|
+-----+-------+----+----+
only showing top 5 rows

In [8]:
# to check the datatype of columns
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [9]:
# since column names are not proper, will make them proper 
# importing datatypes from pyspark.sql

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

schema = StructType([StructField ("Ozone",IntegerType(),True),
                    StructField ("Solar.R",IntegerType(),True),
                    StructField ("Wind",FloatType(),True),
                    StructField ("Temp",IntegerType(),True)])

In [13]:
df = spark.read.csv("Airquality.csv", schema=schema, header = True)
df.show(5)

+-----+-------+----+----+
|Ozone|Solar.R|Wind|Temp|
+-----+-------+----+----+
|   41|    190| 7.4|  67|
|   36|    118| 8.0|  72|
|   12|    149|12.6|  74|
|   18|    313|11.5|  62|
| null|   null|14.3|  56|
+-----+-------+----+----+
only showing top 5 rows

In [15]:
# Rename the columns
# .toDF()
df1=df.toDF("col_1","col_2","col_3","col_4")
df1.show(5)

+-----+-----+-----+-----+
|col_1|col_2|col_3|col_4|
+-----+-----+-----+-----+
|   41|  190|  7.4|   67|
|   36|  118|  8.0|   72|
|   12|  149| 12.6|   74|
|   18|  313| 11.5|   62|
| null| null| 14.3|   56|
+-----+-----+-----+-----+
only showing top 5 rows

In [16]:
# count the total records in the dataframe- .count()
# number of columns in the dataframe - len(df.columns)
# have a look at the column names - .columns

print("Total no of records are: ",df.count())
print("Column names are : ",df.columns)
print("Total no of columns are: ",len(df.columns))

Total no of records are:  153
Column names are :  ['Ozone', 'Solar.R', 'Wind', 'Temp']
Total no of columns are:  4

In [17]:
# pandas head() - shows the top 5 rows.
# but here, it will not show as it reflected in pandas
# rather it will reflect in some other manner

df.head() # bydefault it reflect 1 row

Row(Ozone=41, Solar.R=190, Wind=7.400000095367432, Temp=67)

In [18]:
df.head(5)

[Row(Ozone=41, Solar.R=190, Wind=7.400000095367432, Temp=67),
 Row(Ozone=36, Solar.R=118, Wind=8.0, Temp=72),
 Row(Ozone=12, Solar.R=149, Wind=12.600000381469727, Temp=74),
 Row(Ozone=18, Solar.R=313, Wind=11.5, Temp=62),
 Row(Ozone=None, Solar.R=None, Wind=14.300000190734863, Temp=56)]

In [22]:
df.take(5)

[Row(Ozone=41, Solar.R=190, Wind=7.400000095367432, Temp=67),
 Row(Ozone=36, Solar.R=118, Wind=8.0, Temp=72),
 Row(Ozone=12, Solar.R=149, Wind=12.600000381469727, Temp=74),
 Row(Ozone=18, Solar.R=313, Wind=11.5, Temp=62),
 Row(Ozone=None, Solar.R=None, Wind=14.300000190734863, Temp=56)]

In [21]:
# How can we see the dataframe as we saw in pandas .head() function
df.select("Ozone").show(5)

+-----+
|Ozone|
+-----+
|   41|
|   36|
|   12|
|   18|
| null|
+-----+
only showing top 5 rows

In [27]:
df.select("Ozone","Wind","Temp").show(5)

+-----+----+----+
|Ozone|Wind|Temp|
+-----+----+----+
|   41| 7.4|  67|
|   36| 8.0|  72|
|   12|12.6|  74|
|   18|11.5|  62|
| null|14.3|  56|
+-----+----+----+
only showing top 5 rows

In [31]:
df.select('Ozone','Wind','Temp').show(5)

+-----+----+----+
|Ozone|Wind|Temp|
+-----+----+----+
|   41| 7.4|  67|
|   36| 8.0|  72|
|   12|12.6|  74|
|   18|11.5|  62|
| null|14.3|  56|
+-----+----+----+
only showing top 5 rows

In [32]:
# Convert spark dataframe into pandas dataframe
panda_df = df.toPandas()
panda_df.head() # reflects tabular form data

   Ozone  Solar.R  Wind  Temp
0   41.0    190.0   7.4    67
1   36.0    118.0   8.0    72
2   12.0    149.0  12.6    74
3   18.0    313.0  11.5    62
4    NaN      NaN  14.3    56

In [33]:
# convert the whole spark dataframe into pandas : expensive
# convert only small subsample of big dataframe into pandas ;=> .limit()

small_df = df.limit(7).toPandas()
small_df

   Ozone  Solar.R  Wind  Temp
0   41.0    190.0   7.4    67
1   36.0    118.0   8.0    72
2   12.0    149.0  12.6    74
3   18.0    313.0  11.5    62
4    NaN      NaN  14.3    56
5   28.0      NaN  14.9    66
6   23.0    299.0   8.6    65

In [35]:
# spark dataframe
# see columns vertically

df.show(n=3, vertical = True)

-RECORD 0-------
 Ozone   | 41
 Solar.R | 190
 Wind    | 7.4
 Temp    | 67
-RECORD 1-------
 Ozone   | 36
 Solar.R | 118
 Wind    | 8.0
 Temp    | 72
-RECORD 2-------
 Ozone   | 12
 Solar.R | 149
 Wind    | 12.6
 Temp    | 74
only showing top 3 rows

In [39]:
# orderby function 
# it orders by different columns
# elements in column : > order

df.orderBy("Ozone", ascending = False).show(10)

+-----+-------+----+----+
|Ozone|Solar.R|Wind|Temp|
+-----+-------+----+----+
|  168|    238| 3.4|  81|
|  135|    269| 4.1|  84|
|  122|    255| 4.0|  89|
|  118|    225| 2.3|  94|
|  115|    223| 5.7|  79|
|  110|    207| 8.0|  90|
|  108|    223| 8.0|  85|
|   97|    267| 6.3|  92|
|   97|    272| 5.7|  92|
|   96|    167| 6.9|  91|
+-----+-------+----+----+
only showing top 10 rows

In [40]:
# Descriptive statistics of selected columns
df.describe("Ozone","Wind").show()
# reflects count, min, max, stddev, mean values

+-------+-----------------+------------------+
|summary|            Ozone|              Wind|
+-------+-----------------+------------------+
|  count|              116|               153|
|   mean|42.12931034482759| 9.957516357010485|
| stddev|32.98788451443395|3.5230013615389635|
|    min|                1|               1.7|
|    max|              168|              20.7|
+-------+-----------------+------------------+

In [41]:
# If we need descriptive statistics of only one column
df.describe("Ozone").show()

+-------+-----------------+
|summary|            Ozone|
+-------+-----------------+
|  count|              116|
|   mean|42.12931034482759|
| stddev|32.98788451443395|
|    min|                1|
|    max|              168|
+-------+-----------------+

In [43]:
# If we need descriptive statistics of only one column and one parameter (mean)
# .agg({"column name":"which parameter"})

df.agg({"Ozone":"mean"}).show()

+-----------------+
|       avg(Ozone)|
+-----------------+
|42.12931034482759|
+-----------------+

In [44]:
df.agg({"Ozone":"count"}).show()

+------------+
|count(Ozone)|
+------------+
|         116|
+------------+

In [45]:
# summary of the data -> .summary() method
# .summary and .describe()
# summary adds more parameters
# it adds quantiles (25%, 50%, 75%)

df.summary().show()

+-------+-----------------+------------------+------------------+-----------------+
|summary|            Ozone|           Solar.R|              Wind|             Temp|
+-------+-----------------+------------------+------------------+-----------------+
|  count|              116|               146|               153|              153|
|   mean|42.12931034482759|185.93150684931507| 9.957516357010485|77.88235294117646|
| stddev|32.98788451443395| 90.05842222838169|3.5230013615389635|9.465269740971461|
|    min|                1|                 7|               1.7|               56|
|    25%|               18|               115|               7.4|               72|
|    50%|               31|               203|               9.7|               79|
|    75%|               63|               259|              11.5|               85|
|    max|              168|               334|              20.7|               97|
+-------+-----------------+------------------+------------------+-----------------+

In [46]:
# want to check mean and 25% also
df.summary("mean","25%").show()

+-------+-----------------+------------------+-----------------+-----------------+
|summary|            Ozone|           Solar.R|             Wind|             Temp|
+-------+-----------------+------------------+-----------------+-----------------+
|   mean|42.12931034482759|185.93150684931507|9.957516357010485|77.88235294117646|
|    25%|               18|               115|              7.4|               72|
+-------+-----------------+------------------+-----------------+-----------------+

In [47]:
# let us say we want to check for 2 columns
# .select and .summary

df.select("Ozone","Wind").summary().show()

+-------+-----------------+------------------+
|summary|            Ozone|              Wind|
+-------+-----------------+------------------+
|  count|              116|               153|
|   mean|42.12931034482759| 9.957516357010485|
| stddev|32.98788451443395|3.5230013615389635|
|    min|                1|               1.7|
|    25%|               18|               7.4|
|    50%|               31|               9.7|
|    75%|               63|              11.5|
|    max|              168|              20.7|
+-------+-----------------+------------------+

In [48]:
# 2 columns with 2 parameters values
df.select("Ozone","Wind").summary("mean","25%").show()

+-------+-----------------+-----------------+
|summary|            Ozone|             Wind|
+-------+-----------------+-----------------+
|   mean|42.12931034482759|9.957516357010485|
|    25%|               18|              7.4|
+-------+-----------------+-----------------+

In [49]:
# stddev
from pyspark.sql.functions import avg, stddev

df.agg(stddev("Ozone")).show()

+------------------+
|stddev_samp(Ozone)|
+------------------+
| 32.98788451443395|
+------------------+

In [50]:
# 2 parameters 
# avg and stddev

df.agg(stddev("Ozone"),avg("Ozone")).show()

+------------------+-----------------+
|stddev_samp(Ozone)|       avg(Ozone)|
+------------------+-----------------+
| 32.98788451443395|42.12931034482759|
+------------------+-----------------+

In [52]:
# we want to calculate quantiles directly
# approxQuantile
# 1 % of the data = 0.01

df.approxQuantile("Ozone",[0.25,0.5,0.75],0.01)

[18.0, 30.0, 61.0]

In [54]:
# frequency and 
# repitition
# freqItems()

df.freqItems(["Ozone"],0.01).show()

+--------------------+
|     Ozone_freqItems|
+--------------------+
|[110, 23, 122, 77...|
+--------------------+

In [56]:
# Correlation between 2 columns
df.corr("Ozone","Wind")

-0.4747425785074664

### Take sample from data

In [58]:
# 1% percent sample of data

sample_df = df.sample(False, 0.01)
sample_df.show()

+-----+-------+----+----+
|Ozone|Solar.R|Wind|Temp|
+-----+-------+----+----+
|   52|     82|12.0|  86|
|   23|    115| 7.4|  76|
+-----+-------+----+----+

In [60]:
print("Rows containing in original dataset is :", df.count())
print("Rows containing in sample dataset is :", sample_df.count())

Rows containing in original dataset is : 153
Rows containing in sample dataset is : 2

In [63]:
# Repitition
# we do  not repitition 
# want only unique valules
# .distinct()

df.select("Ozone","Wind").distinct().show(5)

+-----+----+
|Ozone|Wind|
+-----+----+
|   39| 6.9|
| null| 6.9|
|   20|11.5|
|   14|11.5|
|   77| 5.1|
+-----+----+
only showing top 5 rows

In [64]:
df.select("Wind").distinct().show(5)

+----+
|Wind|
+----+
| 6.9|
|13.2|
|20.1|
| 5.7|
|14.3|
+----+
only showing top 5 rows

In [66]:
# filter () 
# selection of dataframe 
# iloc or loc of pandas : if we want to relate it with pandas

# df.loc[df["column name"]=="value"]] # [pandas]
# df.iloc[df["columnname"]=="value"]] # 0, 1, 2...
# iloc : index based values fetch
# loc name based values fetch

df.filter(df["Ozone"]==110).show()

+-----+-------+----+----+
|Ozone|Solar.R|Wind|Temp|
+-----+-------+----+----+
|  110|    207| 8.0|  90|
+-----+-------+----+----+

In [67]:
# complex form of this filter function
# 1stly filters data contains ozone value as 110
# selecting wind column out of this data
# mean and stddev apply

df.filter(df["Ozone"]==110).select("Wind").summary("mean", "stddev").show()

+-------+----+
|summary|Wind|
+-------+----+
|   mean| 8.0|
| stddev|null|
+-------+----+

In [68]:
df.filter(df["Ozone"]==110).select("Wind").summary("mean", "count").show()

+-------+----+
|summary|Wind|
+-------+----+
|   mean| 8.0|
|  count|   1|
+-------+----+

In [69]:
df.filter(df["Ozone"]==110).summary("mean", "count").show()

+-------+-----+-------+----+----+
|summary|Ozone|Solar.R|Wind|Temp|
+-------+-----+-------+----+----+
|   mean|110.0|  207.0| 8.0|90.0|
|  count|    1|      1|   1|   1|
+-------+-----+-------+----+----+